<div class="form">

  <h1>Hey ! I'm the studid coach !</h1>

  <h2>Ask me a question</h2>


  <form action="answer">
    <input type="text" name="question">
    <input type="submit" class="btn" value="Ask!">
  </form>
  <img class="gif" src="https://media2.giphy.com/media/XeLcgh8gT8o0F5SQ8i/giphy.gif" alt="">
</div>
